.h-30{
    height: 150px;
}

.rodape{
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
}
.tm-social{
    height: 35px;
}

.mb-50{
    margin-bottom: 50px;
}
.img{
    height: 1366;
    width: 657;
}

.center{
    text-align: center;
}
.cor{
    background-color: rgba(0, 0, 0, 0.4);
}
.cardsize{
    height: 100px;
}


